
@{
    ViewBag.Title = "Получение объекта из строки";
}

<h2>Поиск объекта по строке</h2>

@using (Ajax.BeginForm("ObjectSearch", new AjaxOptions { UpdateTargetId = "results"}))
{
    <label for="qrst">Введите строку</label>
    <input id="qrst" type="text" name="qrSt"/>
    <input type="submit" value="Поиск" />
}
<div id="results"></div>
